*{
    margin: 0;
}
html{
    overflow-x: hidden;
}
@media screen and (max-width: 1250px) {
    html{
        overflow-x: visible;
    }
}
body{
    max-width: 1600px;    
    background-color: rgb(40 26 0);
}
.body{
    width: 150%;
    height: 1900px;
    background-color: rgb(40 26 0);
    /*background-image: url("../media/sprites/objects/walls/Кирп-кам-стена.png");*/
}
table{
    transform: skewX(-32deg);
    position: absolute;
    width: 1200px;
    border-spacing: 0;
    z-index: 2;
    background: linear-gradient(180deg, #7e0000, #003ba3);
}
td{
    height: 28px;
    border: 1px solid #c4ff0148;
    background-image: url(../media/sprites/objects/walls/StoneBricks1.png);
    background-size: 524px;
    transform: translate(0,0);
    z-index: 1;
    background-clip: content-box;
}
td:hover, .wall1:hover, .wall2:hover, .wall3:hover{
    cursor: pointer;
    border-color: aqua;
}
.skillmenu{
    z-index: 0;
}
.skills{
    z-index: 3;
}
/* @media screen and (max-height: 500px) {
    .skills{
        height: 50px;
        width: 65px;
    }
} */
.activeSkill{
    box-shadow: inset 0px 0px 8px 3px #eeff00;
}
.wall1,.wall2,.wall3{
    transform: skewX(32deg);
    border: 1px solid #c4ff0148;
    z-index: 1;
}
.player{
    transform: skew(30deg, 0deg);
}
.playerStep{
    position: absolute;
    height: 19px;
    width: 28px;
    border-radius: 13px;
    background: #040;
    cursor: pointer;
}
.fireStep{    
    position: absolute;
    height: 18px;
    width: 28px;
    background: rgb(255 255 255 / 0%);
    cursor: pointer;
    box-shadow: inset 0px 0px 0px 9px #ff6328;
}
