*{margin: 0;}
html{
    overflow-x: hidden;
}
body{
    max-width: 1600px;
}
.body{
    width: 150%;
    height: 1850px;
    background-color: rgb(40 26 0);
    /*background-image: url("../media/sprites/objects/walls/Кирп-кам-стена.png");*/
}
table{
    transform: skewX(-32deg);
    position: absolute;
    width: 1200px;
    border-spacing: 0;
    z-index: 2;
}
td{
    height: 28px;
    border: 1px solid #c4ff0148;
    background-image: url(../media/sprites/objects/walls/Кирп-кам-стена1.png);
    background-size: 524px;
    transform: translate(0,0);
}
table td:hover, .wall1:hover, .wall2:hover{
    cursor: pointer;
    border-color: aqua;
}

/*Первая стена*/
[img=img1]{
    background-image: none;
    background-color: black;
}
.wall1,.wall2{
    transform: skewX(32deg);
    background-image: url("../media/sprites/objects/walls/Кирп-кам-стена.png");
    border: 1px solid #c4ff0148;
}